[user]
	name = Nick Niemeir
	email = nick.niemeir@gmail.com
[url "https://github.com/"]
	insteadOf = git://github.com/
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[alias]
	put = push origin HEAD
	l = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	la = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
	b = for-each-ref --sort=committerdate refs/heads/ --format='%(refname:short) :  %(objectname:short)'
	wip = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --not master
	wipa = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all --not master
	review = !vim `git diff --diff-filter=ACMTUXB --name-only` +Gdiff
  aliases = !git config --get-regexp '^alias.' | sed s/^alias.//
[github]
	user = nrn
[push]
	default = nothing
	followTags = true
[core]
	editor = vim
